[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Szewczus
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Szewczus
	label-Verified = -1..+1 group user/Szewczus
	push = group user/Szewczus
	read = group user/Szewczus
	rebase = group user/Szewczus
	removeReviewer = group user/Szewczus
	submit = group user/Szewczus
[access "refs/heads/*"]
	create = group user/Szewczus
	push = +force group user/Szewczus
	pushMerge = group user/Szewczus
	read = group user/Szewczus
[access "refs/tags/*"]
	push = group user/Szewczus
	push = +force group user/Szewczus
